*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#dfe2e2, #949e9e);
  background-attachment: fixed;
  font-size: 1.25rem;
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  font-size: 22px;
  min-height: 100vh;
  color: #333;
}
/*Custom Scroll*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f181a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e5a61;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-height: 100vh;
}

.header {
  width: 100%;
  background: #0f181a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-height: 81px;
  border-bottom: #c8cccc solid 2px;
}

.header img {
  width: 20rem;
  height: auto;
  margin: 15px;
  justify-self: center;
  align-self: center;
}

.links-box {
  display: flex;
  align-items: flex-end;
}

.links {
  display: flex;
}

.links li {
  list-style-type: none;
}

.links {
  margin-bottom: 10px;
  margin-right: 5px;
}

.links a {
  border: none;
  background: transparent;
  color: #ccc;
  padding: 4px 1px 6px 1px;
  margin: 0px 4px 0px 4px;
  font-weight: 100;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.links a:hover,
.links a:focus {
  background: linear-gradient(transparent 90%, rgba(165, 42, 42, 0.75) 5%);
}

.link.active {
  background: linear-gradient(transparent 90%, rgba(165, 42, 42, 0.75) 5%);
}

.links {
  display: flex;
  column-gap: 5px;
  align-self: flex-end;
}

.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  background: #d9e0e0;
  border-bottom: #c8cccc solid 2px;
}

.card {
  padding: 15px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  color: #ccc;
  background: linear-gradient(#0f181a, #25373b);
  border-radius: 5px;
}

.card.error {
  background: linear-gradient(#7a2828, rgb(177, 128, 128));
}

.hash-form {
  display: flex;
  width: 100%;
  flex-shrink: 1;
  flex-direction: column;
  flex-basis: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.group,
.small-group {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 5px;
}

.group.column {
  flex-direction: column;
  align-items: flex-start;
}

.group label {
  flex: 1;
}

.group textarea,
.group input {
  flex: 8;
}

.small-group {
  flex-direction: column;
  row-gap: 10px;
  width: 89%;
  align-items: auto;
}

.small-group-group {
  display: flex;
  align-items: center;
}

.lbl-gray {
  color: #333;
  background: #ccc;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.form-group .hash,
.form-group .private-key,
.form-group .public-key,
.form-group .prev-hash {
  background: #ccc;
  cursor: not-allowed;
  width: 100%;
  border: none;
  padding: 6px 9px;
  border-radius: 5px;
  font-size: 11px;
}

.form-group textarea,
.form-group textarea:focus {
  width: 100%;
  resize: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.basic-input {
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
}

.form-group label {
  font-size: 0.7rem;
}

.footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #d9e0e0;
  flex-shrink: 0;
}

.mine {
  background: linear-gradient(#d5f5fc, #b7f2ff);
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 0.85rem;
  cursor: pointer;
}

.mine:hover {
  background: linear-gradient(#26393d, #56848f);
  color: #b7dce4;
}

.blockchain,
.distributed,
.tokens,
.coinbase {
  width: 100%;
  height: 100%;
  display: inline-flex;
  overflow-x: auto;
  background: #d9e0e0;
  border: 10px solid #d9e0e0;
}

.distributed {
  border: none;
  flex-direction: column;
}

.blockchain > * {
  min-width: 25em;
}

.coinbase > * {
  min-width: 25em;
}
.tokens > * {
  min-width: 25em;
}

.spinner {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1630px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 150px;
  }
  .links {
    margin: 0;
  }
}

@media screen and (max-width: 845px) {
  .wrapper {
    width: 100%;
  }
  .logo img {
    width: 300px;
  }
  .links {
    column-gap: 0px;
  }
  .links a {
    font-size: 12px;
    padding: 3px 0px 3px 0px;
  }
}
